/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
:root {
    --turquoise: #32a8a4;
    --white: #fff;
    --darkgrey: #252626;
    --grey: #5b5c5c;
    --fonts: "Major Mono Display", serif;


}
/* font 
.rubik-dirt-regular {
    font-family: "Rubik Dirt", serif;
    font-weight: 400;
    font-style: normal;
  }
.dm-sans-<uniquifier> {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  .major-mono-display-regular {
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
}

*/
/* skip link styles */
#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
 #skip:focus   {
	position: static;
	width: auto;
	height: auto;
}
/* body- global */
body {
    width: 1280px;
    box-sizing: border-box;
	line-height: 1.35;
    color: var(--darkgrey);
    
}
/* ----- HEADER STYLES ----- */
header{
	padding: 1rem;
	border-bottom: 0.25rem solid var(--turquoise);
}
/* header and text styles */
h1 {
    font-family: "Major Mono Display", serif;
    font-style: normal;
    font-size: 2.5rem;
    color: var(--turquoise);
    font-weight: bold;
	text-align: center;
	margin: 1rem 0;
}

h2 {
    font-family: "Rubik Dirt", serif;
    font-weight: 300;
    font-size: 1.5rem;
    font-style: normal;
    text-align: center;
	margin: 1rem 0;
    color: var(--turquoise);
}
h3, p, li, label {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-style: normal; 
}
a {
   text-decoration: none;
}
/* ----- NAV LINK STYLES ----- */
nav a{
	display: block;
	padding: 1rem;
	text-decoration: none;
	text-align: center;
	background-color: var(--turquoise);
	color: white;
	font-weight: bold;
	margin: 0.5rem auto;
	border-radius: 0.5rem;
	width: calc(100% - 2rem);
	max-width: 350px;
}
nav ul {
	list-style:none;
}
/* form */
form {
	display: block;
	width: 300px;
	padding: 1em;
	margin: 0 auto;
	color: #222;
	font-size: 1.1em;
}
input,
label,
fieldset {
	display: block;
	width: 95%;
}

.required {
	color: red;
	font-size: 1.1em;
	font-weight: bold;
}

label {
	padding-left: 0.5em;
	margin: 0.75em 0 0.25em 0;
}

input {
	font-size: 1em;
	padding: 0.25em 0.5em;
	border: 1px solid #222;
	height: 1.5em;
}

fieldset {
	border: 1px solid #222;
	padding: 0.5em 0 1em 0.5em;
	margin: 0.75em 0 0.25em 0;
	width: 98%;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 3fr;
}

input[type="submit"] {
	padding: 0.75em;
	width: 35%;
	height: auto;
	margin-left: 67%;
	color: #fff;
	background-color: #222;
	border: none;
	font-family: serif;
}

textarea {
	width: 100%;
	height: 5em;
	margin-bottom: 1em;
}

input:focus,
textarea:focus {
	border-color: rgb(0, 123, 255);
	box-shadow: 0 0 0 3px rgba(34, 34, 34, 0.3);
	border-radius: 4px;
}

input:error,
textarea:error {
	border-color: #f0071f;
}
/* ----- FOOTER STYLES ----- */
footer{
	padding: 1rem; 	
	border-top: 0.25rem solid var(--turquoise);
}


/* ----- HOVER STYLES ----- */
nav a:hover{
    background-color: var(--white);
    color: var(--turquoise);
}