/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
:root {
    --turquoise: #32a8a4;
    --white: #fff;
    --darkgrey: #252626;
    --grey: #5b5c5c;
    --dkbrown: rgb(51, 31, 6);
    --fonts: "Ubuntu", sans-serif;
    --shadow-color: hsla(24, 88%, 23%, 0.69);


}

/* skip link styles */
#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
 #skip:focus   {
	position: static;
	width: auto;
	height: auto;
}
/* light and dark mode */

body {
  width: 1280px;
  box-sizing: border-box;
	line-height: 1.35;
  font-family: var(--fonts);
  background-color: black;
  color: var(--white);
  transition: background-color 0.3s ease, color 0.3s ease;
}
nav a {
  color: var(--turquoise); /* dark mode link color */
  transition: color 0.3s ease;
}

h2 {
  color: var(--darkgrey); 
  transition: color 0.3s ease;
}

/* light Mode */
body.dark-mode {
  background-color: white;
  color: black;
}
body.dark-mode #about {
  background-color: rgba(254, 253, 253, 0.703); 
  background-blend-mode: overlay;

}
body.dark-mode nav a {
  color: black; /* light mode link color */
}

body.dark-mode header{
  background-color: rgba(254, 253, 253, 0.447); 
  background-blend-mode: overlay;
}
body.dark-mode main {
  background-color: rgba(254, 253, 253, 0.464); 
  background-blend-mode: overlay;
}
body.dark-mode footer svg{
  stroke: black;
}
/* Icon Toggle */
#themeToggle {
  cursor: pointer;
  display: inline-block;
}

#sunIcon,
#moonIcon {
  transition: opacity 0.3s ease;
}

body.dark-mode #sunIcon {
  display: none;
}

body.dark-mode #moonIcon {
  display: block;
}

/* ----- HEADER STYLES ----- */
header{
    display: grid;
    grid-template-columns: auto 1fr;
	  padding: 1rem;
	  border-bottom: 0.25rem solid var(--dkbrown);
    background-color: rgba(9, 9, 9, 0.447);
    background-blend-mode: overlay;
    background-image: url("images/background2.jpeg");
    background-size: cover;
    filter: drop-shadow(3.0px 6.1px 6.1px var(--shadow-color));
    
}
/* header and text styles */
h1 {
    font-family: "Limelight", sans-serif;
    font-style: normal;
    font-size: 2.5rem;
    font-weight: bold;
	  text-align: center;
	  margin: 0;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 4px var(--shadow-color));
    text-shadow: 0 2px var(--white);
    
    
}
#headerimage {
    position: relative;
    text-align: center;
    color: var(--turquoise);
    filter: drop-shadow(5px 5px 5px var(--shadow-color));
}

h2 {
    font-family: "Limelight", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    font-style: normal;
    text-align: center;
	  margin: 1rem 0;
    color: var(--darkgrey);
}
h3, p, li, label {
    font-style: normal; 
    font-size: 1rem;
    margin: 1rem 0;
}
a {
   text-decoration: none;
}

/* ----- NAV LINK STYLES ----- */
nav{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
nav a{
	display: block;
	padding: 2rem;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
  text-shadow: 0 3px var(--white);
  text-shadow: 0 2px var(--shadow-color);
  background-image: url("images/metalplaque.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%, 150%, cover;
  filter: drop-shadow(2.3px 4px 4.6px hsl(0deg 0% 0% / 0.43));
 
}
nav ul {
	list-style:none;
}
/* ----main styles----- */
main {
  margin: auto;
  background-image: url("images/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  padding-left: 25px;
}

/* about section */
#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  padding: 5px;
  margin: 10px;
  align-items: center;
  column-gap: 15px;
  filter: drop-shadow(2.3px 4px 4.6px hsl(0deg 0% 0% / 0.43));
  background-color: var(--turquoise);
  
}
#about p {
  grid-column: 1;
  grid-row: 1 / span 2;
  padding: 5px;

}
#about ol{
  grid-row: 2;
  grid-column: 2;
}
#education h3{
  text-decoration: underline;
  font-weight: 500;
  font-size: 1.2rem;
}
/*-----final project section */
#finalproject {
  display: flex; 
  padding: 0; 
  margin: 0; 
  
}

.text-withbackground {
  position: relative;
  background-image: url('images/square.png'); 
  filter: drop-shadow(2.3px 4px 4.6px hsl(0deg 0% 0% / 0.43));
  background-size: cover; 
  color: var(--darkgrey);
  background-repeat: no-repeat; 
  background-position: 25%, 25%;
  padding: 100px; 
  text-align: left; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  
}

.text-withbackground h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  padding-left: 75px;
}

.text-withbackground p,
.text-withbackground ol {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  padding-left: 75px;
  font-weight: 600;
}

.text-withbackground ol {
  list-style: decimal inside;
  
}

/* -----product display------*/
.product-name {
  line-height: 1.7;
}
.carousel {
  display: flex;
  position: relative;
  width: 80%;
  background-color: var(--turquoise);
  margin: 0 auto;
  padding: 25px;
  overflow: hidden;
}

.carousel-track-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  position: relative;
  width: 100%;
  max-width: 800px; 
  height: auto;
}

.carousel-track img,
.carousel-track video {
  max-width: 100%;
  max-height:100%; 
  object-fit: contain; 
  display: block;
  margin: 0 auto;
}

.carousel-slide {
  display: none; 
  width: 100%; 
}

.carousel-slide.active {
  display: block; 
}


.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--darkgrey);
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 10;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.carousel-caption {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
  text-align: center;
}
#product-controls{
  padding-top: 10px;
}
.product-btn {
  color: var(--white);
  background-color: var(--turquoise);
  filter: drop-shadow(2.3px 4px 4.6px hsl(0deg 0% 0% / 0.43));
  transform: translateX(100px);
  padding: 10px;
}

/*----- GUESSING GAME ----- */
#yourguess, #random{
  display: inline-block;
	font-size: 1.5rem;
  height: 2em;
  width: fit-content;
	padding-left: 32%;
	text-align: center;
	color: var(--dark-gray);
}

#guessMsg{
	text-align: center;
  margin: 0.25em auto;
  height: 1.5em;
}
/* form */
form {
	display: block;
	width: 300px;
	padding: 10px;
	margin: 0 50px;
	color: var(--darkgrey);
	font-size: 1.1em;

}
input,
label,
fieldset {
	display: block;
	width: 95%;
}

.required {
	color: red;
	font-size: 1.1em;
	font-weight: bold;
}

label {
	padding-left: 0.5em;
	margin: 0.75em 0 0.25em 0;
}

input {
	font-size: 1em;
	padding: 0.25em 0.5em;
	border: 1px solid #222;
	height: 1.5em;
}

fieldset {
	border: 1px solid #222;
	padding: 0.5em 0 1em 0.5em;
	margin: 0.75em 0 0.25em 0;
	width: 98%;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 3fr;
}

input[type="submit"] {
	padding: 0.75em;
	width: 35%;
	height: auto;
	margin-left: 67%;
	color: #fff;
	background-color: #222;
	border: none;
	font-family: serif;
}

textarea {
	width: 100%;
	height: 5em;
	margin-bottom: 1em;
}

input:focus,
textarea:focus {
	border-color: var(--turquoise);
	box-shadow: 0 0 0 3px rgba(34, 34, 34, 0.3);
	border-radius: 4px;
}

.message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  display: none; 
}

#successfulSubmit {
  background-color: #f9faf9;
  color: var(--darkgrey);
  padding: 10px;
  border: 1px solid var(--turquoise);
  margin-top: 20px;
  margin-left: 350px;
  text-align: center;
  width: fit-content;
}
 /*-----form design------*/
#formdesign {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--turquoise);
  margin: 10px;
  padding:10px;
  
  
}
/* ----- FOOTER STYLES ----- */
footer{
	padding: 10px; 	
	border-top: 0.25rem solid var(--turquoise);
  display: flex;
  flex-direction: column;
  
}
footer p{
  
  text-align: center;

}
footer ul{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
footer a{
  padding: 20px;
}

/* ----- HOVER STYLES ----- */
nav a:hover, body.dark-mode nav a:hover{
    color: white;
    text-shadow: 0 2px var(--turquoise);
    

}

footer a svg:hover {
  stroke: var(--turquoise)
}